.prociono-regular {
    font-family: "Prociono", serif;
    font-weight: 300;
    font-style:normal;
  }

body{
    font-size: 15px;
    background-color:rgb(255, 255, 255);
    padding: 0;
    margin: 0;


    
        img{
           width: 97%;
           height: 97%;
           object-fit: cover;
        }

    
          
    h1 {
        font-family: "IBM Plex Mono", monospace;
        font-weight:lighter;
        text-transform: uppercase;
        font-size: 18px;
        text-align: left;
    }

    h2 {
        font-family:"Prociono";
        font-weight: lighter;
        font-size: 60px;
        text-align: left;
        padding-top: 250px;
        padding-bottom: -15px;
    }

    }

    h3 {
        padding-top:-15px;
        font-family:"Prociono";
        font-weight: lighter;
        font-size: 57px;
        text-align: left;
    }

    .scroll-button {
        background-color: transparent;
        border: none;
        padding-top:-15px;
        font-family:"Prociono";
        font-weight: lighter;
        font-size: 57px;
        text-align: left;
        break-inside: auto;
        word-wrap: break-word;
      }

    .scroll-button:hover {
        text-decoration: underline; /* Underline on hover */
      }


    .margin h2 {
        margin-bottom: 15px; 
    }
    .margin h3 {
        margin-top: 0px;
        margin-bottom: -50px; 
    }

    .text-with-image img {
        vertical-align: middle; 
        margin: 0 10px; 
        width: 65px; 
        height: auto; 
    }

    h4 {
        font-size: 470px;
        margin-top: -25px;
        letter-spacing: 10px;
        margin-bottom: -25px;
        font-family:"Prociono";
    }

    h5 {
        font-size: 335px;
        margin-top: 50px;
        letter-spacing: 10px;
        margin-bottom: 0px;
        font-family:"Prociono";
    }

    h6 {
        font-size: 385px;
        margin-top: 20px;
        letter-spacing: 10px;
        margin-bottom: -15px;
        font-family:"Prociono";
    }

    a{
        color:black;
        text-decoration: none;
    }
    a:hover{
        text-decoration-line:underline;
        color: black;
    }

  .show {
    display: block;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .horizontal-line {
    width: 100%; 
    border-top: 6px solid #000; 
    margin-top: 120px;
    display: cen;
}

.speaker {
    display:none;
}


/* Gallery container */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Gallery images */
  .gallery-item {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
  }
  
  /* Overlay for full screen */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    justify-content: center;
    align-items: center;
  }
  
  /* Full screen image */
  #fullScreenImg {
    max-width: 40%;
    max-height: 80%;
    cursor: pointer;
  }
  







  @media only screen and (max-width: 768px) {
    /* For mobile phones: */

.prociono-regular {
  font-family: "Prociono", serif;
  font-weight: 300;
  font-style:normal;
}

body{
  font-size: 15px;
  background-color:rgb(255, 255, 255);
  padding: 0;
  margin: 0;


  
      img{
         width: 97%;
         height: 97%;
         object-fit: cover;
      }

  
        
  h1 {
      display: none;
  }

  h2 {
    display: none;
}
h3 {
  padding-top:0px;
  font-family:"Prociono";
  font-weight: lighter;
  font-size: 35px;
  text-align: left;
  margin-bottom: -10px;
  
}

  .scroll-button {
      background-color: transparent;
      border: none;

      padding-top:0px;
      padding-left: -50px;
      padding-right: -50px;
      margin-right: -30px;
      margin-left: -30px;
      font-family:"Prociono";
      font-weight: lighter;
      font-size: 35px;
      text-align: left;
      break-inside:avoid;
      text-decoration: underline; 
      color: black;
      
    }

  .scroll-button:hover {
      text-decoration: underline; /* Underline on hover */
      color: black;
    }


  .margin h2 {
      margin-bottom: 0px; 
  }
  .margin h3 {
      margin-top: 0px;
      margin-bottom: -100px; 
  }

  .text-with-image img {
      vertical-align: middle; 
      margin: 0px; 
      width: 45px; 
      height: auto; 
  }

  h4 {
      font-size: 115px;
      margin-top: 0px;
      letter-spacing: normal;
      margin-bottom: 0px;
      font-family:"Prociono";
      text-align: center;
  }

  h5 {
      font-size: 80px;
      margin-top: 0px;
      letter-spacing: normal;
      margin-bottom: 0px;
      font-family:"Prociono";
      text-align: center;
  }

  h6 {
      font-size: 91px;
      margin-top: 0px;
      letter-spacing: normal;
      margin-bottom: 0px;
      font-family:"Prociono";
      text-align: center;
  }

  a{
      color:black;
      text-decoration: none;
  }
  a:hover{
      text-decoration-line:underline;
      color: black;
  }

.show {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
}

.horizontal-line {
  width: 200%; 
  border-top: 4px solid #000; 
  margin-top: 120px;
  display: cen;
}

.speaker {
  display:none;
}


/* Gallery container */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Gallery images */
.gallery-item {
  width: 100px;
  height: 100px;
  margin: 0px;
  cursor: pointer;
}

/* Overlay for full screen */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

/* Full screen image */
#fullScreenImg {
  max-width: 70%;
  max-height: 35%;
  cursor: pointer;
}
    }